<!DOCTYPE html>
<html>
<head>
  <title>Redballrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand nav-links" href="#" > red ball dogs</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class= "nav navbar-nav">
          <li><a href="#" class="nav-links"> search </a></li>
          <li><a href="#" class="nav-links"> browse </a></li>
          <li><a href="#" class="nav-links"> your favorites </a></li>
          <li><a href="#" class="nav-links"> randomize! </a></li>
          <li><a href="#" class="nav-links"> crazy dog </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login" class="nav-links">log in</a></li>
        </ul>
      </div>
    </div>
  </nav>
<script>
  $('button').on('click', function(){ $('#myNavbar').toggle();});
</script>
</body>
</html>
